<!DOCTYPE HTML>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>Renta vestidos</title>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>

<body class="theme-light" data-highlight="highlight-red" data-gradient="body-default">

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

<div id="page">

    <div class="header header-fixed header-logo-center header-auto-show">
        <a href="#" class="header-title">Renta de ropa</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-arrow-left"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-4"><i class="fas fa-lightbulb"></i></a>
    </div>



    <div id="footer-bar" class="footer-bar-1">
        <a href="?id=inicio"><i class="fa fa-home"></i><span>Inicio</span></a>
        <a href="?id=categorias"><i class="fa fa-star"></i><span>Categorías</span></a>
        <a href="#" class="active-nav"><i class="fa fa-heart"></i><span>Favoritos</span></a>
        <a href="#"><i class="fa fa-list"></i><span>Pedidos</span></a>
        <a href="#" data-menu="menu-settings"><i class="fa fa-user"></i><span>Perfil</span></a>
    </div>


    <div class="page-content header-clear-medium">

        <div class="card card-style">
            <div class="content">
                <h3>Categorías</h3>
                <p>
					Elige una de las categorías qeu tenemos para encontrar alguna prenda a rentar.
                </p>
            </div>
        </div>

		<div class="row text-center mb-0">
		
        
        
            <a href="#" class="col-6 pe-0">
                <div class="card card-style me-2 mb-3">
                    <div class="card-top">
                        <span class="bg-pink-dark float-end me-2 mt-2 px-2 font-600 line-height-s rounded-xs d-block font-10">OFERTA</span>
                    </div>
                    <i class="fa fa-female color-purple-dark fa-3x mt-5"></i>
                    <h1 class="pt-4 font-22">Vestidos</h1>
                    <p class="font-11 opacity-50 mt-n2">Elegantes y con estilo</p>
                    <p class="mb-0 pb-0 font-10 opacity-40">Más de 200 variedades disponibles</p>
                </div>
            </a>
            <a href="#" class="col-6 ps-0">
                <div class="card card-style ms-2 mb-3">
                    <div class="card-top">
                        <span class="bg-blue-dark float-end me-2 mt-2 px-2 font-600 line-height-s rounded-xs d-block font-10">NUEVA COLECCIÓN</span>
                    </div>
                    <i class="fa fa-tshirt color-teal-dark fa-3x mt-5"></i>
                    <h1 class="pt-4 font-22">Camisetas</h1>
                    <p class="font-11 opacity-50 mt-n2">Cómodas y a la moda</p>
                    <p class="mb-0 pb-0 font-10 opacity-40">Más de 150 variedades disponibles</p>
                </div>
            </a>
            <a href="#" class="col-6 pe-0">
                <div class="card card-style me-2 mb-3">
                    <div class="card-top">
                        <span class="bg-red-dark float-end me-2 mt-2 px-2 font-600 line-height-s rounded-xs d-block font-10">LIQUIDACIÓN</span>
                    </div>
                    <i class="fa fa-shopping-bag color-red-dark fa-3x mt-5"></i>
                    <h1 class="pt-4 font-22">Bolsos</h1>
                    <p class="font-11 opacity-50 mt-n2">Accesorios a la moda</p>
                    <p class="mb-0 pb-0 font-10 opacity-40">Más de 100 variedades disponibles</p>
                </div>
            </a>
            <a href="#" class="col-6 ps-0">
                <div class="card card-style ms-2 mb-3">
                    <div class="card-top">
                        <span class="bg-green-dark float-end me-2 mt-2 px-2 font-600 line-height-s rounded-xs d-block font-10">DESCUENTO</span>
                    </div>
                    <i class="fa fa-shoe-prints color-green-dark fa-3x mt-5"></i>
                    <h1 class="pt-4 font-22">Zapatos</h1>
                    <p class="font-11 opacity-50 mt-n2">Pisa con estilo</p>
                    <p class="mb-0 pb-0 font-10 opacity-40">Más de 180 variedades disponibles</p>
                </div>
            </a>
            <a href="#" class="col-6 pe-0">
                <div class="card card-style me-2">
                    <div class "card-top">
                        <span class="bg-magenta-dark float-end me-2 mt-2 px-2 font-600 line-height-s rounded-xs d-block font-10">OFERTA ESPECIAL</span>
                    </div>
                    <i class="fa fa-glasses color-blue-dark fa-3x mt-5"></i>
                    <h1 class="pt-4 font-22">Gafas de Sol</h1>
                    <p class="font-11 opacity-50 mt-n2">Mantén el estilo y protección</p>
                    <p class="mb-0 pb-0 font-10 opacity-40">Más de 80 variedades disponibles</p>
                </div>
            </a>
            <a href="#" class="col-6 ps-0">
                <div class="card card-style ms-2">
                    <div class="card-top">
                        <span class="bg-purple-dark float-end me-2 mt-2 px-2 font-600 line-height-s rounded-xs d-block font-10">EDICIÓN LIMITADA</span>
                    </div>
                    <i class="fa fa-gown color-purple-dark fa-3x mt-5"></i>
                    <h1 class="pt-4 font-22">Vestidos de Noche</h1>
                    <p class="font-11 opacity-50 mt-n2">Elegancia para ocasiones especiales</p>
                    <p class="mb-0 pb-0 font-10 opacity-40">Más de 50 variedades disponibles</p>
                </div>
            </a>
            


            
		</div>



      

    </div>
    <!-- End of Page Content-->
    <!-- All Menus, Action Sheets, Modals, Notifications, Toasts, Snackbars get Placed outside the <div class="page-content"> -->



</div>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
