<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>StickyMobile BootStrap</title>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>

<body class="theme-light" data-highlight="highlight-red" data-gradient="body-default">

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

<div id="page">

    <div class="header header-fixed header-logo-center">
        <a href="index.html" class="header-title">Sticky Mobile</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-arrow-left"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-4"><i class="fas fa-lightbulb"></i></a>
    </div>

    <div id="footer-bar" class="footer-bar-1">
        <a href="index.html"><i class="fa fa-home"></i><span>Home</span></a>
        <a href="index-components.html"><i class="fa fa-star"></i><span>Features</span></a>
        <a href="index-pages.html" class="active-nav"><i class="fa fa-heart"></i><span>Pages</span></a>
        <a href="index-search.html"><i class="fa fa-search"></i><span>Search</span></a>
        <a href="#" data-menu="menu-settings"><i class="fa fa-cog"></i><span>Settings</span></a>
    </div>

    <div class="page-content header-clear-medium">

        <div class="card card-style">
            <div class="content">
                <h2 class="mb-0">
                    Cart V1
                </h2>
                <p>
                    Your shopping cart before checking out. We've included 2 options for you to choose from
                </p>
            </div>
        </div>

        <div class="card card-style">
            <div class="content mb-0">
                <div>
                    <div class="d-flex mb-4 pb-2">
                        <div>
                            <img src="images/grocery/1l.jpg" class="rounded-m shadow-xl" width="100" alt="img">
                        </div>
                        <div class="ms-3">
                            <h2 class="font-20">Cranberries</h2>
                            <p class="mb-0 mt-n2">
                                200g / serving
                            </p>
                            <h3 class="pt-3 pb-3">$12.<sup>75</sup></h3>
                            <div>
                                <div class="stepper rounded-s pt-1">
                                    <a href="#" class="stepper-sub"><i class="fa fa-minus color-theme opacity-40"></i></a>
                                    <input type="number" min="1" max="99" value="3">
                                    <a href="#" class="stepper-add"><i class="fa fa-plus color-theme opacity-40"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <div>
                    <div class="d-flex mb-4 pb-2">
                        <div>
                            <img src="images/grocery/6l.jpg" class="rounded-m shadow-xl" width="100" alt="img">
                        </div>
                        <div class="ms-3">
                            <h2 class="font-20">Fresh Milk</h2>
                            <p class="mb-0 mt-n2">
                                500ml / bottle
                            </p>
                            <h3 class="pt-3 pb-3">$3.<sup>75</sup></h3>
                            <div>
                                <div class="stepper rounded-s pt-1">
                                    <a href="#" class="stepper-sub"><i class="fa fa-minus color-theme opacity-40"></i></a>
                                    <input type="number" min="1" max="99" value="1">
                                    <a href="#" class="stepper-add"><i class="fa fa-plus color-theme opacity-40"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <div>
                    <div class="d-flex mb-4 pb-2">
                        <div>
                            <img src="images/grocery/4l.jpg" class="rounded-m shadow-xl" width="100" alt="img">
                        </div>
                        <div class="ms-3">
                            <h2 class="font-20">Cucumbers</h2>
                            <p class="mb-0 mt-n2">
                                300 grams / serving
                            </p>
                            <h3 class="pt-3 pb-3">$5.<sup>60</sup></h3>
                            <div>
                                <div class="stepper rounded-s pt-1">
                                    <a href="#" class="stepper-sub"><i class="fa fa-minus color-theme opacity-40"></i></a>
                                    <input type="number" min="1" max="99" value="1">
                                    <a href="#" class="stepper-add"><i class="fa fa-plus color-theme opacity-40"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="me-3">
                        <h4 class="font-20">Total</h4>
                    </div>
                    <div class="ms-auto">
                        <h4 class="font-20">$49<sup>99</sup></h4>
                    </div>
                </div>
                <div class="divider"></div>
                <a href="#" class="btn btn-full bg-highlight btn-m text-uppercase font-800 rounded-sm mb-4">Proceed to Checkout</a>
            </div>
        </div>




        <div class="footer card card-style">
            <a href="#" class="footer-title"><span class="color-highlight">StickyMobile</span></a>
            <p class="footer-text"><span>Made with <i class="fa fa-heart color-highlight font-16 ps-2 pe-2"></i> by Enabled</span><br><br>Powered by the best Mobile Website Developer on Envato Market. Elite Quality. Elite Products.</p>
            <div class="text-center mb-3">
                <a href="#" class="icon icon-xs rounded-sm shadow-l me-1 bg-facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="icon icon-xs rounded-sm shadow-l me-1 bg-twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="icon icon-xs rounded-sm shadow-l me-1 bg-phone"><i class="fa fa-phone"></i></a>
                <a href="#" data-menu="menu-share" class="icon icon-xs rounded-sm me-1 shadow-l bg-red-dark"><i class="fa fa-share-alt"></i></a>
                <a href="#" class="back-to-top icon icon-xs rounded-sm shadow-l bg-dark-light"><i class="fa fa-angle-up"></i></a>
            </div>
            <p class="footer-copyright">Copyright &copy; Enabled <span id="copyright-year">2017</span>. All Rights Reserved.</p>
            <p class="footer-links"><a href="#" class="color-highlight">Privacy Policy</a> | <a href="#" class="color-highlight">Terms and Conditions</a> | <a href="#" class="back-to-top color-highlight"> Back to Top</a></p>
            <div class="clear"></div>
        </div>

    </div>
    <!-- End of Page Content-->
    <!-- All Menus, Action Sheets, Modals, Notifications, Toasts, Snackbars get Placed outside the <div class="page-content"> -->


</div>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
